{{#each FM}}



  <div class="card card-body mb-2">
    <div style="right:15px; top:0.5rem; position:absolute;" class="fb-share-button" data-href="http://127.0.0.1:4000/FM/template/{{id}}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A4000%2FFM%2Ftemplate%2F{{id}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    <div style="right:15px; top:2.5rem; position:absolute;"><a  href="https://twitter.com/share?ref_src=twsrc%5Etfw&text=Title:{{title}}%0DDetails:{{details}}%0DURL:"  class="twitter-share-button" data-url="http://127.0.0.1:4000/FM/template/{{id}}" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>

<!-- <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2F127.0.0.1%3A4000%2FFM%2Ftemplate%2F{{id}}&layout=button_count&size=large&width=84&height=28&appId" width="84" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe> -->
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <p>Creation date: {{creationDate}}</p>
    <a class="btn btn-dark btn-block mb-2" style='background-color:#123C69' href="/FM/template/{{id}}">Visit</a>
<div>    <form method="post" style='float:left; width:50%;' action="/FM/{{id}}?_method=DELETE">
      <input type="hidden" name="_method" value="Extend Deadline BY 12Hr">
      <input type="submit" style='background-color:#2A1B3D;' class="btn btn-danger btn-block" value="Extend Deadline BY 12Hr">
    </form>

    <form  method="post" style='float:right; background-color: #AC3B61; width:50%;' action="/FM/{{id}}?_method=DELETE">
      <input type="hidden" name="_method" value="Stop Further Responses">
      <input  type="submit" style='background-color:#44318D;' class="btn btn-danger btn-block" value="Stop Further Responses">
</form>
</div>
<a style='margin-top:0.5rem;' class="btn btn-dark btn-block mb-2" href="/FM/results/{{id}}">Responses</a>

  </div>
{{else}}
  <p>No survey made so far</p>
{{/each}}
